body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 2%;
}

.header {
    padding: 5%;
    font-size: 75px;
    color: white;
    text-align: right;
}

.backImg {
    background-image:  url("img/chicken-2742352_1920.jpg" );
    width: 100%;
    height: 700px;
}

.displayFlex {
    margin: 1%;
    padding: 5%;
    display: flex;
    justify-content: space-between;
}

.grayBack {
    padding: 1%;
    background-color: grey;
    color: #fff;
}

.displayGrid {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.footer {
    margin-top: 15%;
    background-color: black;
    width: 100%;
    height: 100%;
}

footer {
    text-align: center;
    color: white;
    font-size: 28px;
}
