body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.font {
    font-size: 18px;
}

.header {
    padding: 5%;
    font-size: 75px;
    color: white;
    text-align: right;
}

.headerOne {
    margin-right: 30px;
}

.headerTwo {
    margin-left: 15px;
}

.indent {
    margin-left: 30px;
}

.backImg {
    background-image:  url("img/chicken-2742352_1920.jpg" );
    width:auto;
    height: 750px;
}

.flexOne {
    margin: 5%;
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.grayBack {
    background-color: #5C586A;
    color: #fff;
    margin-bottom: 5%;
    padding: 15%;
    display: flex;
    justify-content: space-between;
}

.grayOne {
    margin-right: 30px;
}

.grayTwo {
    margin-left: 15px;
}

.change {
    color: #FFDEAF;
    font-size: 22px;
}
.article {
    text-align: center;
}

.endImg {
    margin-left: 35%;
}

.footer {
    margin-top: 100px;
    background-color: #353341;
    width: 100%;
    height: 100%;
}

footer {
    text-align: center;
    color: white;
    padding: 5%;
    font-size: 55px;
    color: white;
    text-align: center;
}
